In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/datasetprocessed/ratings.csv
/kaggle/input/datasetprocessed/movies.csv
/kaggle/input/datasetprocessed/users.csv
/kaggle/input/movielensdata/users.dat
/kaggle/input/movielensdata/ratings.dat
/kaggle/input/movielensdata/movies.dat

In [3]:
user_data = '/kaggle/input/movielensdata/users.dat'
movie_data = '/kaggle/input/movielensdata/movies.dat'
ratings_data = '/kaggle/input/movielensdata/ratings.dat'

In [4]:
data=pd.read_csv(ratings_data)
data

            1::1193::5::978300760
0            1::661::3::978302109
1            1::914::3::978301968
2           1::3408::4::978300275
3           1::2355::5::978824291
4           1::1197::3::978302268
...                           ...
1000203  6040::1091::1::956716541
1000204  6040::1094::5::956704887
1000205   6040::562::5::956704746
1000206  6040::1096::4::956715648
1000207  6040::1097::4::956715569

[1000208 rows x 1 columns]

We have to convert these files to csv..

In [5]:
# Define csv files to be saved into
users_csv = 'users.csv'
movies_csv = 'movies.csv'
ratings_csv = 'ratings.csv'

# Changing to CSV-->

In [6]:
# Read the Ratings File
ratings = pd.read_csv(os.path.join(ratings_data), 
                    sep='::', 
                    engine='python', 
                    encoding='latin-1',
                    names=['User_ID', 'Movie_ID', 'Rating', 'Timestamp'])

max_userid = ratings['User_ID'].drop_duplicates().max()

max_movieid = ratings['Movie_ID'].drop_duplicates().max()

# Process ratings dataframe for Keras Deep Learning model
# Add user_emb_id column whose values == user_id - 1
ratings['User_emb_ID'] = ratings['User_ID'] - 1
# Add movie_emb_id column whose values == movie_id - 1
ratings['Movie_emb_ID'] = ratings['Movie_ID'] - 1

print("Total Ratings",len(ratings),"readed")

Total Ratings 1000209 readed

In [7]:
ratings

         User_ID  Movie_ID  Rating  Timestamp  User_emb_ID  Movie_emb_ID
0              1      1193       5  978300760            0          1192
1              1       661       3  978302109            0           660
2              1       914       3  978301968            0           913
3              1      3408       4  978300275            0          3407
4              1      2355       5  978824291            0          2354
...          ...       ...     ...        ...          ...           ...
1000204     6040      1091       1  956716541         6039          1090
1000205     6040      1094       5  956704887         6039          1093
1000206     6040       562       5  956704746         6039           561
1000207     6040      1096       4  956715648         6039          1095
1000208     6040      1097       4  956715569         6039          1096

[1000209 rows x 6 columns]

# Saving to CSV File-->

In [8]:
# ratings.to_csv(ratings_csv, 
#                sep='\t', 
#                header=True, 
#                encoding='latin-1', 
#                columns=['User_ID', 'Movie_ID', 'Rating', 'Timestamp', 'User_emb_ID', 'Movie_emb_ID'])

# print('Saved as', ratings_csv)

In [9]:
AGES = { 1: "Under 18", 18: "18-24", 25: "25-34", 35: "35-44", 45: "45-49", 50: "50-55", 56: "56+" }

# Changing to CSV-->

In [10]:
data=pd.read_csv(user_data)
data

          1::F::1::10::48067
0        2::M::56::16::70072
1        3::M::25::15::55117
2         4::M::45::7::02460
3        5::M::25::20::55455
4         6::F::50::9::55117
...                      ...
6034  6036::F::25::15::32603
6035   6037::F::45::1::76006
6036   6038::F::56::1::14706
6037   6039::F::45::0::01060
6038   6040::M::25::6::11106

[6039 rows x 1 columns]

In [22]:
users = pd.read_csv(os.path.join(user_data), 
                    sep='::', 
                    engine='python', 
                    encoding='latin-1',
                    names=['User_ID', 'Gender', 'Age', 'Occupation', 'Zipcode'])
users['Age_desc'] = users['Age'].apply(lambda x: AGES[x])
print(len(users), 'Descriptions of', max_userid, 'Users readed.')

6040 Descriptions of 6040 Users readed.

In [23]:
users

      User_ID Gender  Age  Occupation Zipcode  Age_desc
0           1      F    1          10   48067  Under 18
1           2      M   56          16   70072       56+
2           3      M   25          15   55117     25-34
3           4      M   45           7   02460     45-49
4           5      M   25          20   55455     25-34
...       ...    ...  ...         ...     ...       ...
6035     6036      F   25          15   32603     25-34
6036     6037      F   45           1   76006     45-49
6037     6038      F   56           1   14706       56+
6038     6039      F   45           0   01060     45-49
6039     6040      M   25           6   11106     25-34

[6040 rows x 6 columns]

# Saving to CSV

In [13]:
# users.to_csv(users_csv, 
#              sep='\t', 
#              header=True, 
#              encoding='latin-1',
#              columns=['User_ID', 'Gender', 'Age', 'Occupation', 'Zipcode', 'Age_desc'])
# print('Saved to', users_csv)

In [24]:
movies = pd.read_csv(os.path.join(movie_data), 
                    sep='::', 
                    engine='python', 
                    encoding='latin-1',
                    names=['Movie_id', 'Title', 'Genres'])
print(len(movies), 'Descriptions of', max_movieid, 'movies readed.')

3883 Descriptions of 3952 movies readed.

In [25]:
movies

,Movie_id,Title,Genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

# Saving to CSV

In [16]:
# movies.to_csv(movies_csv, 
#               sep='\t', 
#               header=True, 
#               columns=['Movie_id', 'Title', 'Genres'])
# print('Saved to', movies_csv)

# Now importing the converted CSV files..-->

In [21]:
ratings = pd.read_csv('/kaggle/input/datasetprocessed/ratings.csv', sep='\t', encoding='latin-1', usecols=['User_ID', 'Movie_ID', 'Rating'])

# Reading users file
users = pd.read_csv('/kaggle/input/datasetprocessed/users.csv', sep='\t', encoding='latin-1', usecols=['User_ID', 'Gender', 'Zipcode', 'Age_desc'])

# Reading movies file
movies = pd.read_csv('/kaggle/input/datasetprocessed/movies.csv', sep='\t', encoding='latin-1', usecols=['Movie_id', 'Title', 'Genres'])

In [26]:
ratings.head()

   User_ID  Movie_ID  Rating
0        1      1193       5
1        1       661       3
2        1       914       3
3        1      3408       4
4        1      2355       5

In [29]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 3 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   User_ID   1000209 non-null  int64
 1   Movie_ID  1000209 non-null  int64
 2   Rating    1000209 non-null  int64
dtypes: int64(3)
memory usage: 22.9 MB

In [27]:
users.head()

   User_ID Gender  Age  Occupation Zipcode  Age_desc
0        1      F    1          10   48067  Under 18
1        2      M   56          16   70072       56+
2        3      M   25          15   55117     25-34
3        4      M   45           7   02460     45-49
4        5      M   25          20   55455     25-34

In [30]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   User_ID     6040 non-null   int64
 1   Gender      6040 non-null   object
 2   Age         6040 non-null   int64
 3   Occupation  6040 non-null   int64
 4   Zipcode     6040 non-null   object
 5   Age_desc    6040 non-null   object
dtypes: int64(3), object(3)
memory usage: 283.2+ KB

In [28]:
movies.head()

   Movie_id                               Title                        Genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [ ]:
movies.info()

# Movie Recommendation with Content-Based and Collaborative Filtering

“What movie should I watch this evening?” 

Have you ever had to answer this question at least once when you came home from work? As for me — yes, and more than once. From Netflix to Hulu, the need to build robust movie recommendation systems is extremely important given the huge demand for personalized content of modern consumers.

An example of recommendation system is such as this:

User A watches Game of Thrones and Breaking Bad.
User B does search on Game of Thrones, then the system suggests Breaking Bad from data collected about user A.
Recommendation systems are used not only for movies, but on multiple other products and services like Amazon (Books, Items), Pandora/Spotify (Music), Google (News, Search), YouTube (Videos) etc.